{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}
  lang="en"{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title}}{% endblock title %}</title>

    {%- block metas %}
      <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="theme-color" content="#212121">
    {%- endblock metas %}

    {%- block styles %}
      <!-- favicon.ico -->
      <link rel="shortcut icon"
            href="{{ url_for("static", filename="img/favicon.ico") }}"
            type="image/x-icon">
      <link rel="icon"
            href="{{ url_for("static", filename="img/favicon.ico") }}"
            type="image/x-icon">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}